In [6]:
import pandas as pd

In [7]:
ds = pd.read_csv('dataset_1655023.csv')
ds.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,unit_price,product_category,product_type
0,1,06/11/2023,19:56:10,1.0,3.0,Eindhoven,3.25,Tea,Chai tea
1,2,06/09/2023,11:41:32,1.0,2.0,Utrecht,2.00,Coffee,Black coffee
2,3,06/06/2023,17:33:08,2.0,2.0,Utrecht,3.50,Tea,Herbal tea
3,4,06/08/2023,11:02:34,1.0,1.0,Alkmaar,3.25,Tea,Chai tea
4,5,06/09/2023,08:56:34,5.0,1.0,Alkmaar,3.00,Tea,Black tea

In [9]:
# Check for and remove missing data
ds.dropna(inplace=True)

# Calculate the total number of transactions
total_transactions = len(ds)

# Calculate the number of transactions with more than 2 items sold
transactions_more_than_2_items = len(ds[ds['transaction_qty'] > 2])

# Calculate the probability that a transaction contains more than 2 items
probability_more_than_2_items = transactions_more_than_2_items / total_transactions

# Print the results
print(f"Total transactions: {total_transactions}")
print(f"Transactions with more than 2 items: {transactions_more_than_2_items}")
print(f"Probability of a transaction having more than 2 items: {probability_more_than_2_items:.2%}")

Total transactions: 7148
Transactions with more than 2 items: 1445
Probability of a transaction having more than 2 items: 20.22%